%li.span3
  .thumbnail.skip-border.centered
    = link_to category_cover(category.image_category.url), store_category_path(category)
    .caption
      %h3= link_to category.title, store_category_path(category)
      - if category.subcategories.present?
        %p.muted
          Подкатегорий: 
          %span.badge.badge-success= category.subcategories.size
      - else
        %p.muted
          Товаров: 
          %span.badge.badge-success= category.entities.size