%p Категория:
- if @category_decorator.main?
  %span
    = link_to @category_decorator.main_category_title, store_category_path(@category_decorator.parent_category)
    &#47;
%h2.text-info= @category_decorator.title
%p
  Описание: 
  .muted= rescue_empty_value @category_decorator.description
- if @category_decorator.subcategories?
  %p.muted
    Подкатегорий:
    %span.badge.badge-success= @category_decorator.subcategories_size
  %h3.muted #{@category_decorator.title}, вложенные категории:
  %hr
  %ul.thumbnails
    = render @category_decorator.subcategories
- elsif @category_decorator.entities?
  %p.text-success
    Товарные позиции:
    %span.badge.badge-success= @category_decorator.entities_size
  %hr
  %ul.thumbnails
    = render @category_decorator.entities 