= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-signin'}) do |f|
  %fieldset
    %legend= t('.legend')
    - if @user.errors.any?
      .alert.alert-block
        %button.close{data: {dismiss: "alert"}} &times;
        %h5= "Обнаружены ошибки (#{@user.errors.count}) при заполнении формы учётной записи :"
        %ul.unstyled
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      = f.label :name, t('.name'), class: 'control-label'
      .controls
        = f.text_field :name, :autofocus => true, class: 'span4'
        %span.help-block
          %p.muted Придумайте имя учётной записи.
    .control-group
      = f.label :email, t('.email'), class: 'control-label'
      .controls
        = f.email_field :email, class: 'span4'
        %span.help-block
          %p.muted На указанный email будут приходить уведомления.
    .control-group
      = f.label :password, t('.password'), class: 'control-label'
      .controls
        = f.password_field :password, class: 'span4', autocomplete: "off"
        %span.help-block
          %p.muted Введите пароль для учётной записи.
    .control-group
      = f.label :password_confirmation, t('.password_c'), class: 'control-label'
      .controls
        = f.password_field :password_confirmation, class: 'span4', autocomplete: "off"
        %span.help-block
          %p.muted Повтор пароля.
    .controls
      = f.submit t('.sign_up'), class: "btn btn-large btn-danger"
      %p
        %br
        = render "devise/shared/links"
