- model_class = Profile
.span12
  .page-header
    %h3= "#{t '.title'} '#{@user.name}'"
  %ul.nav.nav-tabs
    %li.active
      = link_to 'Пользователь', '#user', data: {toggle: 'tab'}

    %li
      = link_to 'Профиль', '#profile', data: {toggle: 'tab'}

  .tab-content#myTabContent
    .tab-pane.fade.active.in#user
      .span2
        %ul.thumbnails
          %li= link_to image_tag(rescue_user_avatar(current_user.profile ? current_user.profile.avatar : nil), size: "100x100"), '#', class: 'thumbnail'
      .span4
        %strong= t '.login'
        = @user.name
        %br
        - if @user.email_visible || @user.id = current_user.id
          %strong= t '.email'
          = @user.email
          %br
        - else
          = t '.no_email_visible'
        - if @user.profile
          %strong= t '.username'
          = rescue_empty_value @user.username
          %br
    .tab-pane.fade#profile
      - if @user.profile
        %p
          %strong= t '.username'
          = @profile.username if @profile
        %p
          - if current_user.profile && current_user.profile.email_visible
            %strong= t '.email'
            = current_user.email
            %br
          %strong= t '.email_visible_label'
          .badge.badge-important= yes_or_no @profile.email_visible if @profile
        %p
          %strong= t '.birthday'
          = @profile.birthday if @profile
        %p
          %strong= model_class.human_attribute_name(:address)
          = @profile.address.values.join('/') if @profile
        %p
          %strong= model_class.human_attribute_name(:gender)
          = gender @profile.gender if @profile
        %p
          %strong= model_class.human_attribute_name(:about)
          .well= @profile.about if @profile
        .panel.panel-default
          .panel-body
            %strong= model_class.human_attribute_name(:phone)
          .panel-footer
            = @profile.about if @profile
        %p
          %strong= model_class.human_attribute_name(:skype)
          %br
          = @profile.skype if @profile
        %p
          %strong= model_class.human_attribute_name(:url)
          %br
          = @profile.url if @profile
        %p
          %strong= model_class.human_attribute_name(:time_zone)
          %br
          = @profile.time_zone if @profile
      - else
        .well= t '.user_profile_not_exists', user: @user.name

  .form-actions
    = link_to t('.back'), :back, :class => 'btn'
    - if @user.profile
      = link_to t('.edit'), edit_store_user_profile_path(@user, @user.profile), :class => 'btn'
    - else
      = link_to t('.edit'), new_store_user_profile_path(@user), :class => 'btn btn-primary'