%ul.thumbnails
  %li.span4
    .thumbnail.skip-border
      %h3.panel-title= link_to entity.title, store_category_entity_path(entity.category, entity.id)
      = button_to '+ Добавить в корзину', store_cart_items_path(entity_id: entity.id), class: "btn btn-success btn-small"
      = link_to image_tag('/defaults/wave.png')#, category_path(category), class: 'thumbnail'
      .pull-right
        .text-left
          %b.text-info Цена:
          %h2.text-success= readable_price entity.price
          %span.badge.badge-success= entity.currency_abbreviation
      %p.muted
        %br
        = entity.characteristics
      %p.text-right= link_to "Подробнее...", store_category_entity_path(entity.category, entity.id)