%ul.list-group
  = link_to @presenter.main_category.title + ":", store_category_path(@presenter.main_category), class: "list-group-item active"
  - @presenter.related_categories.each do |c|
    %li.list-group-item
      = link_to c.title, store_category_path(c)
      %span.badge= c.entities.size
%ul.list-group
  = link_to "Доставка", "#", class: "list-group-item active"
  %li.list-group-item
    Информация о доставке!