/ Product section
.text-success Товарная позиция:
%h2.text-success= product.title
Код товара:
%span.badge.badge-success= product.id
%hr
/ Section preview product
.container
  .span4
    = link_to product_cover(product.cover.large_preview.url), "#", class: "thumbnail"
    %p.text-success= product_availability(product.availability)
    - unless product.feature_ids.empty?
      %p.muted Особенности:
      - product.features.each do |feature|
        = image_tag feature.label_url, alt: feature.name, title: feature.name
  .span3
    %h1.text-success #{product.price.to_s(:rounded, precision: 2)} #{image_tag product.currency_emblem.url}
    = button_to 'Купить', store_cart_items_path(entity_id: product.id), class: "btn btn-success btn-large"
    %br
    %br
    %p.muted= product.characteristics
/ section view product tabs
%h2#nav-tabs О товаре:
%ul.nav.nav-tabs
  %li.active
    %a{data: {toggle: "tab"}, href: "#home"}
      Всё
  %li
    %a{data: {toggle: "tab"}, href: "#char"}
      Характеристики
  %li
    %a{data: {toggle: "tab"}, href: "#foto"}
      Фото
  %li
    %a{data: {toggle: "tab"}}
      Отзывы
  %li
    %a{data: {toggle: "tab"}}
      Аксессуары
.tab-content#myTabContent
  .tab-pane.fade.active.in#home
    %p= product.description
  .tab-pane.fade#char
    %h1 Характеристики:
    %hr
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Характеристика:
          %th Значение:
      %tbody
        - product.parameters.each do |param|
          %tr
            %td= param.attribute.name
            %td= param.value + " " + param.attribute.unit.try(:param).to_s
  .tab-pane.fade#foto
    = product.cover? ? image_tag(product.cover.url) : content_tag(:p, "Фото товара отсутствует", class: "muted" )
%a{href: "#"}
  Просмотров:
  %span.badge.badge-info= product.views
%br
%br