/ Product section
.span9
  / Page header
  = render partial: "show_header", locals: { main: @presenter.main_category, secondary: @presenter.sub_category }
  / Product info
  = render partial: "show_product", locals: { product: @presenter.product }
/ Sidebar
.span3
  = render "show_sidebars"