= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-signin" }) do |f|
  %legend= t('.password_header')
  = devise_error_messages!
  .control-group
    = f.label :email, t('.email')
    %br/
    = f.email_field :email, :autofocus => true, class: 'span4'
  .controls= f.submit t('.submit'), class: 'btn btn-danger btn-large'
  %br
  %p
    = render "devise/shared/links"
