- category.properties.each do |attr|
  / Active admin bug [style] TODO!
  %br
  %br
  = form.fields_for :parameters do |params_form|
    = params_form.hidden_field :attribute_id, value: attr.id
    = params_form.label :value, attr.name + ':'
    = params_form.text_field :value, size: 100
    = attr.unit.param unless attr.unit.nil?