%section
  %table
    %thead
      %tr
        %th Характеристика :
        %th Значение :
    %tbody
      - params.each do |param|
        %tr
          %td= param.attribute.name
          %td= param.value + " " + param.attribute.unit.try(:param).to_s