= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-signin'}) do |f|
  %fieldset
    %legend= t('.legend')
    .control-group
      = f.label :login, t('.name'), class: 'control-label'
      .controls= f.text_field :login, :autofocus => true, class:'span4'
    .control-group
      = f.label :password, t('.password'), class: 'control-label'
      .controls= f.password_field :password, class:'span4', autocomplete: "off"
    - if devise_mapping.rememberable?
      %label.checkbox
        = f.check_box :remember_me
        = t('.remember_me')
        / = f.label :remember_me, t('.remember_me'), class: "checkbox"
    .controls
      = f.submit t('.sign_in'), class: "btn btn-large btn-success"
      %p
        = render "devise/shared/links"
