.list-group
  margin-bottom: 20px
  padding-left: 0

.list-group-item
  position: relative
  display: block
  padding: 10px 15px
  margin-bottom: -1px
  background-color: #ffffff
  border: 1px solid #dddddd

.list-group-item:first-child
  border-top-right-radius: 0
  border-top-left-radius: 0

.list-group-item:last-child
  margin-bottom: 0
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0

.list-group-item > .badge
  float: right

.list-group-item > .badge + .badge
  margin-right: 5px

a.list-group-item
  color: #555555

a.list-group-item .list-group-item-heading
  color: #333333

a.list-group-item:hover,
a.list-group-item:focus
  text-decoration: none
  background-color: #f5f5f5

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus
  z-index: 2
  color: #ffffff
  background-color: #007fff
  border-color: #007fff

a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading
  color: inherit

a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text
  color: #cce5ff

.list-group-item-success
  color: #ffffff
  background-color: #3fb618

a.list-group-item-success
  color: #ffffff

a.list-group-item-success .list-group-item-heading
  color: inherit

a.list-group-item-success:hover,
a.list-group-item-success:focus
  color: #ffffff
  background-color: #379f15

a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus
  color: #fff
  background-color: #ffffff
  border-color: #ffffff

.list-group-item-info
  color: #ffffff
  background-color: #9954bb

a.list-group-item-info
  color: #ffffff

a.list-group-item-info .list-group-item-heading
  color: inherit

a.list-group-item-info:hover,
a.list-group-item-info:focus
  color: #ffffff
  background-color: #8d46b0

a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus
  color: #fff
  background-color: #ffffff
  border-color: #ffffff

.list-group-item-warning
  color: #ffffff
  background-color: #ff7518

a.list-group-item-warning
  color: #ffffff

a.list-group-item-warning .list-group-item-heading
  color: inherit

a.list-group-item-warning:hover,
a.list-group-item-warning:focus
  color: #ffffff
  background-color: #fe6600

a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus
  color: #fff
  background-color: #ffffff
  border-color: #ffffff

.list-group-item-danger
  color: #ffffff
  background-color: #ff0039

a.list-group-item-danger
  color: #ffffff

a.list-group-item-danger .list-group-item-heading
  color: inherit

a.list-group-item-danger:hover,
a.list-group-item-danger:focus
  color: #ffffff
  background-color: #e60033

a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus
  color: #fff
  background-color: #ffffff
  border-color: #ffffff

.list-group-item-heading
  margin-top: 0
  margin-bottom: 5px

.list-group-item-text
  margin-bottom: 0
  line-height: 1.3
