= simple_form_for @cart, url: create_confirmation_store_cart_path(params[:id]), method: :put, html: { class: 'form-horizontal' } do |f|
  %fieldset
    %legend= t('.confirmation_legend')
    %hr
    = render 'common/errors', object: @cart if @cart.errors.any?
    .control-group
      = f.simple_fields_for :cart_info do |subform|
        .control-group
          = subform.input :username, label: t('.confirmation_username'), placeholder: 'Ваше имя...'
        .control-group
          = subform.input :phone, label: t('.confirmation_phone'), placeholder: '(xxx) - xxx - xx - xx'
        .control-group
          = subform.input :note, as: :text, label: t('.confirmation_note'), placeholder: '...', input_html: {rows: 10, cols: 20 }
        .control-group
          = subform.input :city, label: t('.confirmation_city'), collection: ['Москва', 'Казань', 'Ростов-на-дону', 'Курск', 'Орел', 'Екатеринбург', 'Калининград', 'Челябинск', 'Сочи', 'Мурманск', 'Симферополь', 'Севастополь', 'Санкт-Петербург', 'Волгоград'], include_blank:false
        .control-group
          = subform.input :street, label: t('.confirmation_street')
    .form-actions
      = f.button :submit, 'Подтвердить', class: 'btn btn-success btn-large'
      = link_to 'Отменить', store_cart_path(@cart), :class => 'btn btn-large'