- provide(:title, 'Корзина покупателя')
/ Cart
.span9
  %h2.text-primary Ваша корзина пуста:
  %h2.text-info Выберите товар, перейдя по ссылке ниже, чтобы добавить товар в корзину #{ link_to 'Добавить товар в корзину', store_categories_path, class: 'btn btn-info' }
  %p
    %b= link_to "Вернуться на главную", root_url