- provide :title, t('.customer_cart')
/ Cart
.span9
  %h2.text-primary Ваша корзина:
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Кол-во:
        %th Цена за 1 ед.:
        %th Наименование товара:
        %th Конечная Цена:
        %th Действие:
    %tbody
      - @cart.cart_items.each_with_index do |item, index|
        %tr
          %td= index.next
          %td #{item.quantity} &times;
          %td= readable_price item.entity_price
          %td
            %b= link_to item.entity_title, store_category_entity_path(item.entity_category_id, item.entity_id)
          %td
            %b.text-success
              = readable_price item.total_item_price
            %span.badge.badge-success
              = item.entity_currency.abbreviation
          %td= link_to "Удалить", store_cart_item_path(item), method: :delete#, data: { confirm: t('.confirm_deletion_item', entity: item.entity_title) }
      %tr
        %td{colspan: 4}
          %br
          %b Всего:
        %td
          %h3.text-success
            = readable_price @cart.total_cart_price
        %td
          %br
          = button_to 'Очистить корзину', store_cart_path(@cart), method: :delete, class: "btn btn-danger"#, data: { confirm: t('.confirm_deletion_cart') }
  %p.centered
    = link_to 'Оформить заказ', confirmation_store_cart_path(@cart), class: 'btn btn-success btn-large'