= simple_form_for @profile, url: store_user_profile_path(params[:user_id]), html: { class: 'form-horizontal' } do |f|
  %fieldset
    %legend= t('.profile_legend')
    %hr
    = render 'common/errors', object: @profile if @profile.errors.any?
    .control-group
      = f.input :username,
                label:        t('.username'),
                placeholder:  'Your real name',
                input_html:   { class: 'span6 form-control' }
    .control-group
      = f.input :email_visible,
                label:        t('.email_visible')
    .control-group
      = f.input :birthday,
                as:           :date,
                end_year:     Date.today.year - 15,
                start_year:   Date.today.year - 60,
                label:        t('.birthday'),
                input_html:   { class: 'span2' }
    .control-group
      = f.input :gender,
                as:           :radio_buttons,
                collection:   [t('.gender_male'), t('.gender_female')],
                label:        t('.gender')
    .control-group
      = f.input :about,
                as:           :text,
                label:        t('.about'),
                placeholder:  'Information about you',
                input_html:   { class: 'span6', rows: 10, cols: 15 }
    .control-group
      = f.input :phone,
                label:        t('.phone'),
                placeholder:  '(xxx) - xxx - xx - xx',
                input_html:   { class: 'span6' }
    .control-group
      = f.input :skype,
                label:        t('.skype'),
                placeholder:  'Your Skype login',
                input_html:   { class: 'span6' }
    .control-group
      = f.input :url,
                label:        t('.url'),
                placeholder:  'Type your url',
                as:           :url,
                input_html:   { class: 'span6' }
    .control-group
      = f.input :avatar,
                as:           :file,
                input_html:   { class: 'span6' },
                label:        t('.avatar')
    .control-group
      %legend= t('.profile_address')
      = f.simple_fields_for :address do |addr_form|
        = addr_form.input :city,
                          label:      t('.city'),
                          collection: ['Киев', 'Одесса', 'Чернигов', 'Львов', 'Харьков', 'Донецк', 'Николаев', 'Днепропетровск', 'Ровно', 'Ивано-Франковск', 'Симферополь', 'Севастополь', 'Суммы', 'Житомир'],
                          prompt:     t('city_select'),
                          input_html: { class: 'span6' }
        = addr_form.input :street,
                          label:      t('.street'),
                          input_html: { class: 'span6' }
    .control-group
      = f.input :time_zone,
                priority:     /Moscow/,
                label:        t('.time_zone'),
                input_html:   { class: 'span6' }
      .form-actions
        = f.button :submit, t('.create_profile'), class: 'btn, btn-success'
        = link_to t('.later'), root_path, class: 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), store_user_profile_path, :class => 'btn'