.navbar-inner
  .container
    %a.brand{ href: '#' }
      Brand
    .nav-collapse
      %ul.nav.navbar-nav
        %li.active.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            Выбрать раздел
            %b.caret
          %ul.dropdown-menu
            - Category.parental.each do |p|
              %li= link_to p.title, store_category_path(p)
        %li= link_to "Мои покупки (#{cart_size(session[:cart_id])})", session[:cart_id].nil? ? empty_store_carts_path : store_cart_path(session[:cart_id])
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            = user_signed_in? ? current_user.name : 'Войти'
            %b.caret
          - if user_signed_in?
            %ul.dropdown-menu
              %li= link_to "Выйти(#{current_user.name})", destroy_user_session_path
              %li= link_to "Профиль", store_user_path(current_user.id)
              %li= link_to "Редактировать", edit_user_registration_path
          - else
            %ul.dropdown-menu
              %li= link_to "Представиться", new_user_session_path
              %li= link_to "Присоединиться", new_user_registration_path
      %form.navbar-form.navbar-left
        %input.form-control.col-lg-8{ placeholder: "Search", type: "text" }
