%ul.nav.nav-pills.nav-stacked
  %li.active= link_to "Все Категории ->", store_categories_path
  %li.divider
  - get_all_active_categories.each do |category|
    - if category.subcategories.empty?
      %li= link_to category.title, store_category_path(category)
    -else
      %li.dropdown
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
          = category.title
          %span.caret
        %ul.dropdown-menu
          - category.subcategories.each do |subcategory|
            %li= link_to subcategory.title, store_category_path(subcategory)