!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= set_title(yield :title)
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "cosmo", :media => "all"
    = yield(:page_stylesheet) if content_for?(:page_stylesheet)
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="images/favicon.ico" rel="shortcut icon")

  %body
    / Header
    .navbar.navbar-inverse.navbar-fixed-top
      = render 'common/header'
    / Container
    .container-fluid
      / Alerts
      .row-fluid
        = render 'common/notice'
      / Data
      .row-fluid
        / Navigation
        .span2.navigate
          = render 'common/navigate'
        / Content
        .span10.content
          = yield
      %hr
    / Footer
    %footer
      = render 'common/footer'
    = debug(params) if Rails.env.development?

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "cosmo"
    = yield(:page_javascript) if content_for?(:page_javascript)
