!!!
%html
%head
  %title Sm
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag    "devise", media: "all"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
%body
  .container
    = render 'common/notice'
    = yield
    .row-fluid
      #main.span2
        = link_to "На главную", root_path
        |
        = link_to "Назад", :back